
.nav-bar_logo{
    background-color: $smoky-black;
    width: 10%;
    color: $white;
    text-align: center;
    padding: 1rem;
}


.nav-item {
    font-family: $raleway;
    font-size: $medium;
    font-weight: $bold;
}

